*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
}

.headshot {
  display: inline;
}

img {
  outline: 20px solid black;
  max-width: 100%;
}
/*
* Custom translucent site header
*/

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #727272;
  transition: color 0.15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.flex-equal > * {
  flex: 1;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Cert {
  height: 75%;
}

.poke {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.dropLink {
  display: none;
}

.dropLink a{
  display: block;
}

.dropdown:hover .dropLink { 
  display: block; 
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  #dropdownBttn {
    display: none;
  }
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
